@import 'tailwindcss';

@plugin "tailwindcss-animate";

@theme {
  /* tickle-me-pink*/
  --color-50: #fff1f4;
  --color-pink-100: #ffe3ea;
  --color-pink-200: #ffccdb;
  --color-pink-300: #ff8aad;
  --color-pink-400: #fe6e9c;
  --color-pink-500: #f83b7c;
  --color-pink-600: #e5196a;
  --color-pink-700: #c20e5a;
  --color-pink-800: #a20f52;
  --color-pink-900: #8b104c;
  --color-pink-950: #4e0325;

  /* candlelight */
  --color-yellow-50: #ffffe7;
  --color-yellow-100: #fdffc1;
  --color-yellow-200: #ffff86;
  --color-yellow-300: #fff741;
  --color-yellow-400: #ffe90d;
  --color-yellow-500: #fdd900;
  --color-yellow-600: #d1a100;
  --color-yellow-700: #a67402;
  --color-yellow-800: #895a0a;
  --color-yellow-900: #74490f;
  --color-yellow-950: #442604;

  /* earls-green */
  --color-green-50: #f9fde9;
  --color-green-100: #f0fcc5;
  --color-green-200: #e7fa8e;
  --color-green-300: #dff64e;
  --color-green-400: #dcf11e;
  --color-green-500: #d5e111;
  --color-green-600: #b8b40b;
  --color-green-700: #9b8c0d;
  --color-green-800: #806e13;
  --color-green-900: #6d5916;
  --color-green-950: #403108;
}
