@import 'tailwindcss';

@plugin "tailwindcss-animate";

@theme {
  /* tickle-me-pink*/
  --color-50: #fff1f4;
  --color-pink-100: #ffe3ea;
  --color-pink-200: #ffccdb;
  --color-pink-300: #ff8aad;
  --color-pink-400: #fe6e9c;
  --color-pink-500: #f83b7c;
  --color-pink-600: #e5196a;
  --color-pink-700: #c20e5a;
  --color-pink-800: #a20f52;
  --color-pink-900: #8b104c;
  --color-pink-950: #4e0325;

  /* candlelight */
  --color-yellow-50: #ffffe7;
  --color-yellow-100: #fdffc1;
  --color-yellow-200: #ffff86;
  --color-yellow-300: #fff741;
  --color-yellow-400: #ffe90d;
  --color-yellow-500: #fdd900;
  --color-yellow-600: #d1a100;
  --color-yellow-700: #a67402;
  --color-yellow-800: #895a0a;
  --color-yellow-900: #74490f;
  --color-yellow-950: #442604;

  /* earls-green */

  --color-green-50: #f8ffe7;
  --color-green-100: #ebffc0;
  --color-green-200: #dcff85;
  --color-green-300: #d0ff3f;
  --color-green-400: #d0ff0b;
  --color-green-500: #d4f400;
  --color-green-600: #c9d300;
  --color-green-700: #bab400;
  --color-green-800: #8a7e09;
  --color-green-900: #75660e;
  --color-green-950: #453903;
}
